.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
/*body { color: CornflowerBlue; }*/
body { color: rgb(107, 73, 135) }
h1 { color: rgba(103,103,103, .9); }
h2 { color: rgba(107, 73, 135, .9); }


